arxiv==2.2.0
openreview==0.0.2
openreview_py==1.52.8
pandas==2.3.3
pdfminer==20191125
pdfminer_six==20250506
psycopg2-binary==2.9.10
Requests==2.32.5
tqdm==4.67.1
rapidfuzz==3.14.1
paperscraper==0.3.2