arxiv==2.2.0
openreview-py==1.52.8
pandas==2.3.2
pdfminer-six==20250506
psycopg2-binary==2.9.11
requests==2.32.5
tqdm==4.67.1
python-dotenv==1.1.1
beautifulsoup4==4.14.2
semanticscholar==0.11.0
beartype==0.22.2
bibtexparser==1.4.3
rapidfuzz==3.14.1
paperscraper==0.3.2
